* {
    padding: 0;
    margin: 0;
    font-family: "Google Sans", sans-serif;
}

:root {
    --light: #fffffff6;
    --white: #ffffff;
    --light_em: #ffffffa8;
    --dark: #000000f6;
    --black: #000000;
}

html {
    scroll-behavior: smooth;
}

.material-icons {
    font-size: 20px !important;
}

body {
    min-height: 100dvh;
    max-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../img/texture_bg.png') repeat center fixed, linear-gradient(to top left, black, #1a1a1a) !important;
}

.font_primary {
    font-family: "Anton", sans-serif;
}

.fs_5 {
    font-size: 1.10rem !important;
}

/* text  */

.text_light {
    color: var(--light) !important;
}

.text_dark {
    color: var(--dark) !important;
}

.text_light_em {
    color: var(--light_em) !important;
}

.brand_profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    background: #1a1a1a;
    border: 1px solid transparent;
    outline: 2px solid #09d309;
}

.brand_profile img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main_content {
    max-width: 700px;
}

.social_links {
    height: 48px;
    width: 48px;
    transition: 0.25s;
    box-shadow: 0px 0px 2px 0px black;
}

.social_links:hover {
    scale: 1.05;
}

.social_links.facebook {
    background: #1877F2;
}

.social_links.instagram {
    background: linear-gradient(135deg, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45);
}

.social_links.tiktok {
    background: #000000;
    outline: 1px solid #f1f1f1;
}

.social_links.tiktok svg {
    filter: drop-shadow(1px 1px 0px #FF0050) drop-shadow(-1px -1px 0px #00ffff);
}


.link_list_link {
    padding: 0.75rem 0.75rem;
    width: 400px;
    border-radius: 2px;
    color: #f1f1f1 !important;
    fill: #f1f1f1 !important;
    background: #ce262e;
    border: 1px solid #fffefea8;
    box-shadow: 3px 4px 0 0 #fffefea8;
    transition: 0.25s;
}

.link_list_link:hover {
    scale: 1.02;
}

@media (max-width: 525px) {
    .link_list_link {
        width: 92vw !important;
        margin: 0.3rem 0 !important;
    }
}

.company_link {
    transition: 0.25s;
}

.company_link:hover {
    color: #ce262e !important;
}